/*------------------------------------* 
   $DEFAULTS 
*------------------------------------*/
/** 
 * Unique style, colors and misc variables 
 */

$brand-color = #29BA9C
$brand-color--lighten = lighten($brand-color, 10%)
$brand-color--darken = darken($brand-color, 10%)

$brand-round = 4px

$link-color = #29BA9C

$base-font-size = 1em
$base-line-height = 1.5
$base-font-family = "klinic_slabbook", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, arial, sans-serif;
$body-font-family = "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, arial, sans-serif;
$base-color = #333

// Global border box
$global-border-box = true

// Base spacing unit
$base-spacing-unit = 15px
