/*------------------------------------* 
   $RESET 
*------------------------------------*/

h1, h2, h3, h4, h5
  font-style normal
  font-weight 400
  text-rendering optimizeLegibility

h2
  font-size 36px
  line-height 1.3
  font-family $base-font-family

h3
  font-size 28px
  line-height 1.3
  font-family $base-font-family

p
  line-height 1.5

a
  color $brand-color
  text-decoration none
